body {
  background-color: white;
  height: 100%;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Kit cards */
.card {
	padding: 20px;
	margin-top: 20px !important;
	margin-bottom: auto!important;
	border: 2px solid #b29fb5 !important;
	display: inline-block !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

/* Card on ViewAll page */
.card-viewall {
  height: 400px;
}

.card-body-viewall {
  max-height: 100px;
  overflow: hidden;
}

.crop {
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.fitz {
  margin: 10px !important;
  border: none !important;
  transition: transform 0.7s;
}

.fitz:hover {
  box-shadow: 2px 2px 2px 2px grey;
  z-index: 100;
  transform: scale(1.07);
}

.homeCard {
	border: 2px solid #b29fb5;
	margin: 20px;
	display: inline-block !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.shrink {
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
}


/* iPad & iPad Pro (portrait) */
@media only screen and (min-width : 768px) 
and (max-width : 1100px) {
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.homeCard {
		margin: 10px!important;
	}
	.shrink {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.jumbotron {
	height: 0!important;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) 
and (max-device-width: 480px) {
	/* Homepage circles */
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.card {
		width: 90%!important;
	}
	/* Homepage ViewAll cards */
	.shrink {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	.overlay {
		top: 10%!important; right: 0; bottom: 0; left: 0;
	}
	.title {
		font-size: 90px!important;
	}
	.lead {
		font-size: 16px;
	}
	  .jumbotron {
		height: 10vh!important;
		min-height: 28vh!important;
	  }
	  .video-background {
		  height: 100%;
		  width: none;
	  }
}

@media only screen and (min-width : 479px) 
and (max-width : 767px) {
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.homeCard {
		margin: 10px!important;
	}
}