body {
  background-color: white;
  height: 100%;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
	transition: 0.3s ease-out;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

/* Kit cards */
.card {
	padding: 20px;
	margin-top: 20px !important;
	margin-bottom: auto!important;
	border: 2px solid #b29fb5 !important;
	display: inline-block !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

/* Card on ViewAll page */
.card-viewall {
  height: 400px;
}

.card-body-viewall {
  max-height: 100px;
  overflow: hidden;
}

.crop {
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.crop-profile {
	object-fit: cover;
	overflow: hidden;
	align-items: center;
	width: 250px;
	height: 250px;
  }

.fitz {
  margin: 10px !important;
  border: none !important;
  transition: transform 0.7s;
}

.fitz:hover {
  box-shadow: 2px 2px 2px 2px grey;
  z-index: 100;
  transform: scale(1.07);
}

.homeCard {
	border: 2px solid #b59fa2;
	/* margin: 20px; */
	/* display: inline-block !important; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	height: 430px;
}

.featured-looks-text {
	font-size: 28px;
	letter-spacing: 5px;
}

.shrink {
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
}

.messagesSidebar {
	margin-left: 8%
}

.messages-modal-content {
	position: fixed;
	color: #46483b;
	background-color: #fff;
	width: 60%;
	height: 80%;
	border: 2px solid #b29fb5;
	/* box-shadow: 1px 1px 1px black; */
	/* padding: 16px; */
	left: 32%;
	right: 5%;
	top: 92px;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all 0.3s ease-out;
}

/* iPad & iPad Pro (portrait) */
@media only screen and (min-width : 768px) 
and (max-width : 1100px) {
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.homeCard {
		margin: 10px!important;
	}
	/* .shrink {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	} */
	.jumbotron {
	height: 0!important;
	}

	.card {
		width: 300px!important;
	}
	.messagesSidebar {
		margin-left: 2%
	}
	.messageImg {
		display: none;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1450px) {
	.card-viewall {
		height: 540px;
	}
	.card-img-viewall {
		height: 375px;
	}
	.card-viewone {
		height: 540px;
	}
	.card-img-viewone {
		height: 375px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) 
and (max-device-width: 480px) {
	/* Homepage circles */
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.card {
		width: 90%!important;
	}
	/* Homepage ViewAll cards */
	/* .shrink {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	} */
	.overlay {
		top: 10%!important; right: 0; bottom: 0; left: 0;
	}
	.title {
		font-size: 90px!important;
	}
	.lead {
		font-size: 16px;
	}
	.jumbotron {
		height: 10vh!important;
		min-height: 28vh!important;
	}
	.video-background {
		height: 100%;
		width: none;
	}
	.profile-cover__action > .btn{
		position: absolute;
		top: 2%;
	}
	.profile-cover__action {
		padding-top: 160px!important;
	}
	.homeCard {
		margin: 10px!important;
	}
	.messages-modal-content {
		position: fixed;
		color: #46483b;
		background-color: #fff;
		width: 96%;
		height: 80%;
		border: 2px solid #b29fb5;
		/* box-shadow: 1px 1px 1px black; */
		padding: 0;
		left: 2%;
		top: 10%;
		box-sizing: border-box;
		overflow: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: all 0.3s ease-out;
	}
	.messageImg {
		display: none;
	}
}

@media only screen and (min-width : 479px) 
and (max-width : 767px) {
	.rounded-circle {
		width: 6rem!important;
		height: 6rem!important;
	}
	.homeCard {
		margin: 10px!important;
	}
}

@media only screen 
and (min-width : 1101px) and (max-width : 1320px) {
	.card {
		width: 300px!important;
	}
	.mk-row {
		margin-left: -20px!important
	}
	.shrink {
		-webkit-transform: scale(0.65);
		-moz-transform: scale(0.65);
		-ms-transform: scale(0.65);
		transform: scale(0.65);
	}
}

@media only screen 
and (max-width : 830px) and (min-width : 768px) {
	.mk-row {
		margin-left: -35px!important;
	}
	.messageImg {
		display: none;
	}
}

@media only screen 
and (max-width : 790px) and (min-width : 768px) {
	.mk-row {
		margin-left: -50px!important;
	}
	.messageImg {
		display: none;
	}
}