h2 {
  font-family: "Clicker Script", cursive;
  font-size: 50px;
}

.buttons {
  border: 1px solid #b29fb5;
  background-color: #b29fb5;
  color: white;
  /* box-shadow: 1px 1px #46483b; */
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s ease;
}

.buttons:hover {
  cursor: pointer;
  background-color: #938396;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
/* .modal-content {
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    color: #46483b;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}  */

.modal-content {
  position: fixed;
  color: #46483b;
  background-color: #fff;
  width: 70%;
  height: 80%;
  border: 2px solid #b29fb5;
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-out;
}

.followers-modal-content {
  position: fixed;
  color: #46483b;
  background-color: #fff;
  width: 34%;
  height: 80%;
  border: 2px solid #b29fb5;
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;
  left: 34%;
  top: 15%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-out;
}

@media (max-width: 1024px) {
  .modal-content {
    top: 10%;
  }
  .followers-modal-content {
    top: 10%;
  }
}

.followers-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.followers-modal-overlay--after {
  opacity: 1;
}

.followers-modal-overlay--before {
  opacity: 0;
}