img {
  height: 250px;
  width: 250px;
}

.grow {
  transition: all 0.2s ease-in-out;

  /* background: #dbcbbe; */
  /* border: 0.1px solid black; */
}

.grow:hover {
  transform: scale(1.01);
}

.card-body {
  padding-top: 5px;
}

.card-title {
  font-weight: 600;
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
}

.card-text {
  color: rgb(114, 114, 114);
  font-size: small;
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; */
}

.fa-heart {
  transition: 0.3s;
}

.fa-heart:hover {
  color: rgb(230, 63, 90);
}

.fas.fa-heart {
  color: rgb(230, 63, 90);
}