/* Navbar */
nav {
    background-color: #b29fb5;
    box-shadow: 0 1px 5px rgba(0, 0, 0.2, 0.2);
}

a {
    color: #46483b;
}

nav li {
    display: inline;
    padding-right: 30px;
    color: white!important;
}

#navbarNav {
    margin-left: 30px;
}

.nav-link-active {
    color: white!important;
}

@media (min-width: 992px) {
    nav {
        max-height: 72px;
    }
  }

