/* Navbar */
nav {
    background-color: #b29fb5;
    box-shadow: 0 1px 5px rgba(0, 0, 0.2, 0.2);
}

a {
    color: #46483b;
}

a:hover {
    color: #4181ad;
    text-decoration: none;
}

nav li {
    display: inline;
    padding-right: 30px;
    color: white!important;
}