/* Navbar */
nav {
    background-color: #dbcbbe;
}

a {
    color: #46483b;
}

a:hover {
    color: #4181ad;
    text-decoration: none;
}

nav li {
    display: inline;
    padding-right: 30px;
    color: white!important;
}